body {
  background-color: white;
  color: #009dae;
  background-image: url('https://img1.cgtrader.com/items/2155451/3981d9441c/cloud-3d-vdb-and-model-guide-3d-model-obj-mtl.jpg');
  margin: 0 auto;
}
p {
  font-family: serif;
  margin: 0 auto;
}
img {
  border-radius: 50%;
}
.intro2 {
  display: inline-block;
  margin: 100px auto 50px 40%;
  color: #009dae;
}
.intro {
  display: block;
  margin: 100px auto 50px 40%;
  text-align: left;
  color: #009dae;
}
.footer {
  /* position: relative; */
  position: absolute;
  margin-left: 40%;
  width: 200px;
}
.button {
  display: inline-block;
  padding: 15px 35px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 9px 9px #999;
}
.button:hover {
  background-color: #3e8e41;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.mySkills {
  display: block;
  width: 30rem;
  /* background-color: pink; */
  text-align: left;
  margin-left: 40%;
  margin-bottom: 50px;
  position: relative;
  color: #009dae;
}
footer {
  margin-left: 40%;
}
.me {
  margin-left: 40%;
  display: inline-block;
  position: relative;
}
.certificates {
  margin-left: 40%;
  color: #009dae;
  margin-bottom: 50px;
}
