body {
  background-color: white;
  color: #009dae;
  background-image: url('https://img1.cgtrader.com/items/2155451/3981d9441c/cloud-3d-vdb-and-model-guide-3d-model-obj-mtl.jpg');
  margin: 0 100%;
}
p {
  font-family: serif;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: bold;
}
img {
  border-radius: 50%;
}
.intro2 {
  display: block;
  margin: 0px auto 30px 40%;
  color: #009dae;
  width: 25%;
}
.intro {
  display: block;
  margin: 3rem auto 30px 40%;
  text-align: left;
  color: #009dae;
  width: 25%;
  text-align: center;
}
.footer {
  position: absolute;
  margin-left: 40%;
  width: 40%;
}
.button {
  display: inline-block;
  padding: 15px 35px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #009dae;
  border: none;
  border-radius: 15px;
  box-shadow: 9px 9px #999;
}
.button:hover {
  background-color: #3e8e41;
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}
.mySkills {
  display: block;
  width: 25%;
  /* background-color: pink; */
  text-align: left;
  margin-left: 40%;
  margin-bottom: 30px;
  position: relative;
  color: #009dae;
  font-weight: bold;
  text-align: center;
}
footer {
  margin-left: 40%;
  margin-bottom: 30px;
  width: 25%;
  text-align: center;
}
.me {
  display: inline-block;
  position: relative;
  margin: 10px auto 10px 48.5%;
  text-align: center;
}
.certificates {
  margin-top: 2rem;
  margin-left: 40%;
  color: #009dae;
  margin-bottom: 3rem;
  font-weight: bold;
  width: 25%;
  text-align: center;
}
.footer-links {
  margin: 0 auto;
}
.footer-links:hover {
  color: #009dae;
}
h2 {
  font-family: serif;
}
.intro-p {
  font-family: serif;
  margin-top: 1rem;
  line-height: 3rem;
}
.intro2-h2 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

.mySkills-h {
  font-weight: bold;
  text-align: center;
}
.certificates h3 {
  margin-top: 3rem;
}
.html {
  margin: 3rem 100%;
}
figcaption {
  text-align: center;
}
.intro2-p {
  text-align: center;
}
