div {
}

body {
  background-image: url('https://img1.cgtrader.com/items/2155451/3981d9441c/cloud-3d-vdb-and-model-guide-3d-model-obj-mtl.jpg');
}

body {
  color: #0499a9;
}

figure {
}

body {
}

hr {
  border: transparent;
}

html {
}

head {
}

html {
}

hr {
  width: 25%;
  margin: auto;
}

a {
}

